<div>
  <section class="misseguros">
    <h1>Mis seguros</h1>
    <button mat-button>
      Quiero reportar un siniestro
    </button>
    <button mat-button>
      <img src="./../../../../assets/icons/icon-briefcase.png" alt="ir a mis tramites">
      Ir a mis tramites
    </button>
  </section>
  <mat-divider></mat-divider>
  <section class="seguros">
    <div>
      <img src="../../../../../assets/icons/icon-carHome.png" alt="autos y transportes">
      <h3>Autos y transportes</h3>
    </div>
    <div>
      <img src="../../../../../assets/icons/icon-medicalKitHome.png" alt="gastos medicos y salud">
      <h3>Gastos médicos y salud</h3>
    </div>
    <div>
      <img src="../../../../../assets/icons/icon-handsHome.png" alt="Vida y educacion">
      <h3>Vida y educación</h3>
    </div>
    <div>
      <img src="../../../../../assets/icons/icon-houseHome.png" alt="Hogar y mascotas">
    </div>
  </section>
  <section>
    <div>
      <div>
        <h2>Gestiona tus pólizas y trámites </h2>
        <h2>Busca clientes y pólizas; administra sus planes, servicios y trámites de manera rápida, clara y sencilla.
        </h2>
      </div>
      <img src="../../../../../assets/banners/BannerHomeHero.png" alt="genera tus polizas">
    </div>
  </section>
  <section>
    <h1>Beneficios increibles por ser cliente</h1>
    <p>Ver más</p>
    <mat-divider></mat-divider>
    <div class="benefitCards">
      <div class="card">
        <img src="../../../../../assets/pictures/seguroAuto.png" alt="beneficios seguro auto">
        <p>Obtén tu seguro de auto</p>
        <p>10% <br> Descuente</p>
        <p> + </p>
        <p>12 <br> Meses sin intereses</p>
      </div>
      <div class="card">
        <img src="../../../../../assets/pictures/mascotas.png" alt="beneficios mascotas">
        <p>Con GNP tienes</p>
        <p>Asistencias para tus mascotas</p>
      </div>
      <div class="card">
        <img src="../../../../../assets/pictures/ciclista.png" alt="beneficios deportes">
        <p>¡Participa y Gana! una inscripción <br> doble para Multisport Series</p>
      </div>
    </div>
  </section>
  <section>
    <h1>Servicios</h1>
    <mat-divider></mat-divider>
    <div>
      <div>
        <h2>Directorios</h2>
        <mat-divider></mat-divider>
        <mat-card>
          <img src="../../../../../assets/icons/icon-briefcase-medical.png" alt="servicios medicos">
          Médicos
        </mat-card>
        <mat-card>
          <img src="../../../../../assets/icons/icon-hospital.png" alt="servicios hospitales">
          Hospitales
        </mat-card>
        <mat-card>
          <img src="../../../../../assets/icons/icon-clinic-medical.png" alt="servicios clinicas">
          Clínicas
        </mat-card>
        <mat-card>
          <img src="../../../../../assets/icons/icon-local-hospital.png" alt="otros servicios de salud">
          Otros servicios de salud
        </mat-card>
        <button mat-button>
          Ver panel expandido 🡪
        </button>
      </div>
      <div>
        <div>
          <h2>Trámites</h2>
          <mat-divider></mat-divider>
          <button mat-button>
            Ir a mis trámites
            <img src="../../../../../assets/icons/icon-arrowRight.png" alt="ir a mis tramites">
          </button>
        </div>
        <div>
          <h2>Siniestros</h2>
          <mat-divider></mat-divider>
          <div>
            <img src="../../../../../assets/banners/BannerSiniestros.png" alt="banner siniestros">
            <div>
              <h3>Busca clientes y pólizas; administra sus planes, servicios y trámites de manera rápida, clara y
                sencilla.</h3>
              <button mat-button>
                Quiero reportar un siniestro
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
