$color-primary: #002e71;
$color-secondary: #ff9e0a;
$color-notice: #33486c;
$color-modal: #ff6b0b;
$color-disabled-background: #f6f9fd;
$color-disabled-text: #acb4c0;
$color-input-line: #aac3ee;

.contacto {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  &__title {
    border-bottom: 1px solid $color-secondary;
    color: $color-primary;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 16px;
    padding-bottom: 8px;
    width: 100%;
  }
  &__inputs {
    align-items: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px min-content;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 24px;
    width: 100%;
    @media (max-width: 768px) {
      grid-template-rows: 80px 80px min-content;
    }
  }
  &__numero {
    border: none;
    border-bottom: 1px solid $color-input-line;
    color: $color-notice;
    font-size: 16px;
    margin-bottom: 40px;
    margin-right: 24px;
    outline: none;
    padding-bottom: 8px;
    width: 100%;
  }
  &__numero:focus {
    outline: none;
  }
  &__holder {
    position: relative;
  }
  &__calendar {
    height: 24px;
    position: absolute;
    top: -5px;
    right: 5%;
    width: 24px;
  }
  &__button {
    border: none;
    border-radius: 5px;
    background-color: $color-modal;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.25px;
    outline: none;
    padding: 14px 16px;
  }
  &__button:disabled {
    background-color: $color-disabled-background;
    color: $color-disabled-text;
  }
  &__placeholder {
    position: relative;
    @media (max-width: 768px) {
      grid-column: 1 / 3;
    }
    &_text {
      color: transparent;
      font-size: 12px;
      position: absolute;
      top: 10%;
    }
    &_tooltip {
      bottom: 10px;
      color: $color-notice;
      display: none;
      font-size: 12px;
      font-weight: 400;
      position: absolute;
    }
  }
  &_text {
    color: $color-notice;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
  &__method {
    grid-column: 1 / 3;
  }
  &__text {
    color: $color-notice;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
  &__metodos {
    display: flex;
    &_container {
      display: flex;
      margin-right: 30px;
    }
    &_box {
      display: inline;
    }
    &_input {
      border-radius: 50%;
      border: 2px solid black;
      height: 16px;
      vertical-align: middle;
      width: 16px;
      -moz-appearance: none;
      -webkit-appearance: none;
      -o-appearance: none;
    }
    &_input:checked {
      border: 2px solid $color-modal;
      color: $color-modal;
    }
    &_text {
      color: $color-notice;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.5px;
    }
  }
}
.container {
  color: $color-notice;
  cursor: pointer;
  display: block;
  padding-left: 22px;
  position: relative;
  margin-bottom: 12px;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
}

.container input:checked ~ .checkmark {
  background-color: white;
  border: 2px solid $color-modal;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $color-modal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
